@page "{id}"
@using DataLayer.Entities.Permissions
@model Web.Pages.Admin.Roles.EditRoleModel
@{
    ViewData["Title"] = "ویرایش نقش ";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ویرایش نقش </h1>
    </div>
</div>
<form method="post">

    <input type="hidden" asp-for="Role.RoleId" />


    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    اطلاعات نقش
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->

                    <div class="form-group col-md-8">
                        <label>عنوان نقش :</label>
                        <input type="text" asp-for="Role.RoleTitle" class="form-control">
                        <span asp-validation-for="Role.RoleTitle" class="text-danger"></span>
                    </div>



                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            دسترسی ها نقش
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            @{
                                List<Permission> permission = ViewData["Permissions"] as List<Permission>;
                                List<int> selectPer = ViewData["RolePermissions"] as List<int>;
                            }


                            <ul>
                                @foreach (var item in permission.Where(p => p.ParentId == null))
                                {
                                    <li>
                                        <input type="checkbox" @((selectPer.Any(p=>p==item.PermissionId))?"checked":"")
                                           name="SelectedPermission" value="@item.PermissionId"> @item.PermissionTitle
                                        @if (permission.Any(p => p.ParentId == item.PermissionId))
                                        {
                                            <ul>
                                                @foreach (var sub1 in permission.Where(p => p.ParentId == item.PermissionId))
                                                {
                                                    <li>
                                                        <input type="checkbox" @((selectPer.Any(p=>p==sub1.PermissionId))?"checked":"")
                                                            name="SelectedPermission" value="@sub1.PermissionId"> @sub1.PermissionTitle

                                                        @if (permission.Any(p => p.ParentId == sub1.PermissionId))
                                                        {
                                                            <ul>
                                                                @foreach (var sub2 in permission.Where(p => p.ParentId == sub1.PermissionId))
                                                                {
                                                                    <li>
                                                                        <input type="checkbox" @((selectPer.Any(p=>p==sub2.PermissionId))?"checked":"")
                                                                            name="SelectedPermission" value="@sub2.PermissionId"> @sub2.PermissionTitle

                                                                        @if (permission.Any(p => p.ParentId == sub2.PermissionId))
                                                                        {
                                                                            <ul>
                                                                                @foreach (var sub3 in permission.Where(p => p.ParentId == sub2.PermissionId))
                                                                                {
                                                                                    <li>
                                                                                        <input type="checkbox" @((selectPer.Any(p=>p==sub3.PermissionId))?"checked":"")
                                                                                            name="SelectedPermission" value="@sub3.PermissionId"> @sub3.PermissionTitle

                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        }
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-1">
            <input type="submit" class="btn btn-success" value="وارایش نقش" />
        </div>

    </div>
</form>
