@model Core.DTOs.ResetPasswordVeiwModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<br />
<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">نقره یکتائی</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ul>
    </nav>
</div>


<main class="container">
    <div class="row">
        <div class="register-site col-lg-6">
            <div class="register-panel-page">

                @if (ViewBag.IsSuccess == true)
                {
                    <div class="alert alert-success">
                        <p class="help-block">کلمه عبور با موفقیت تغیر کرد ! !</p>
                    </div>
                    <script>
                        // Your delay in milliseconds
                        var delay = 3000;
                        setTimeout(function () { window.location = "/Login"; }, delay);
                    </script>
                }
                else if (ViewBag.IsSuccess == false)
                {
                    <div class="alert alert-danger">
                        <p class="help-block">اطلاعات وارد شده صحیح نمیباشد !</p>
                    </div>
                }
                else{}

                <div class="register-panel-top">
                    <div class="register-panel-title">
                        <h2>
                            بازیابی کلمه عبور
                        </h2>
                        <h3>
                            کلمه عبور جدید خود را وارد کرده و آن را ذخیره کنید .
                        </h3>
                    </div>
                    <div class="register-panel-img">
                        <img src="assets/img/Vector Smart Object2.png" alt="">
                    </div>
                </div>
                <form class="register-form" method="post" asp-action="ResetPassword">

                    <input type="hidden" asp-for="ActiveCode" />


                    <div class="register-form-input">
                        <input id="register-password" type="password" asp-for="@Model.Password" placeholder="کلمه عبور">
                        <div class="register-form-context">
                            <i class="fa fa-lock "></i>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    <br />

                    <div class="register-form-input">
                        <input id="register-password" type="Password" asp-for="@Model.RePassword" placeholder="تکرار کلمه عبور">
                        <div class="register-form-context">
                            <i class="fa fa-lock "></i>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.RePassword" class="text-danger"></span>
                    <br />
                    <br />

                    <input type="submit" id="submitForm" hidden />
                    <div class="register-page-button">
                        <a href="#" onclick="document.getElementById('submitForm').click()" class="reg-cta">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            <span>
                                بازیابی کلمه عبور
                            </span>
                        </a>
                    </div>
                    <br />

                </form>
            </div>
        </div>
    </div>
</main>
<br />
<br />
<br />

