@using Core.Convertors
@using Core.DTOs
@model Core.DTOs.ChargeWalletViewModel
@{
    ViewData["Title"] = "کیف پول کاربر" + " " + User.Identity.Name;
}



<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">نقره یکتائی</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"> کیف پول </li>
        </ul>
    </nav>
</div>
<br />


<main>
    <div class="container">
        <div class="row">
            <partial name="_SidBar" />
            <div class="col-md-9 col-sm-8 col-xs-12">
                <section class="wallet-section">
                    <div class="container">
                        <header><h1> کیف پول </h1></header>
                        <div class="inner">
                            <h3> شارژ کیف پول </h3>
                            <form method="post" asp-action="Index">

                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                            <input type="number" asp-for="Amount" class="form-control" placeholder=" شارژ کیف پول ">
                                        </div>
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-5 col-sm-4 col-xs-2">
                                        <button class="btn btn-success "> شارژ کیف پول </button>
                                    </div>
                                </div>

                            </form>

                            <hr />
                            <hr />
                            @{
                                List<WalletViewModel> list = ViewBag.ListWallet as List<WalletViewModel>;
                            }

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">

                                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example"
                                               aria-describedby="dataTables-example_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>مبلغ</th>
                                                    <th>نوع تراکنش</th>
                                                    <th>کامل شده</th>
                                                    <th>تاریخ</th>
                                                    <th>شرح</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in list)
                                                {
                                                    <tr class="gradeA odd">
                                                        <td>@item.Amount.ToString("#,0")</td>
                                                        <td>
                                                            @if (@item.Type == 1)
                                                            {
                                                                <p class="text-success">واریز به حساب</p>
                                                            }
                                                            else
                                                            {
                                                                <p class="text-danger">برداشت از حساب</p>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (@item.IsPay)
                                                            {
                                                                <i class="fa fa-check text-success"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-times text-danger"></i>
                                                            }
                                                        </td>
                                                        <td>@item.DateTime.ToShamsi()</td>
                                                        <td>@item.Description</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <!-- /.table-responsive -->

                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</main>


