@using Core.Convertors
@model Core.DTOs.InformationUserViewModel
@{
    ViewData["Title"] = "پنل کاربری" + " " + User.Identity.Name;
}



<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">نقره یکتائی</a></li>
            <li class="breadcrumb-item active" aria-current="page"> پنل کاربری </li>
        </ul>
    </nav>
</div>
<br />


<main>
    <div class="container">
        <div class="row">
            <partial name="_SidBar" />
            <div class="col-md-9 col-sm-8 col-xs-12">
                <section class="breadcrumb">
                   <div class="container">
                        <header><h1 class="header-panel h2"> داشبورد </h1></header>
                        <div class="carousel-inner">
                            <div class="account-information">
                                <h3 class="top-post-blog-header h4"> اطلاعات کاربری </h3>
                                <ul class="list-group">
                                    @if (!string.IsNullOrEmpty(Model.FirstAndLastName))
                                    {
                                        <li> <i class="zmdi zmdi-account"></i> نام و نام خانوادگی : @Model.FirstAndLastName </li>
                                    }
                                    <li> <i class="zmdi zmdi-assignment-account"></i> نام کاربری :  @Model.UserName </li>
                                    <li> <i class="zmdi zmdi-email"></i> ایمیل : @Model.Email </li>
                                    <li> <i class="zmdi zmdi-calendar-check"></i> تاریخ عضویت : @Model.RegisterDate.ToShamsi() </li>
                                    @if (!string.IsNullOrEmpty(Model.PhonNumber))
                                    {
                                        <li> <i class="zmdi zmdi-smartphone-android"></i> شماره تماس : @Model.PhonNumber </li>
                                    }
                                    @if (Model.UesrGender != null)
                                    {
                                        <li><i class="zmdi zmdi-account"></i>جنسیت : @Model.UesrGender  </li>
                                    }
                                    <li><i class="zmdi zmdi-money"></i>موجودی کیف پول : @Model.Wallet.ToString("#,0") تومان </li>
                                </ul>
                            </div>
                        </div>
                   </div>
                </section>
            </div>

        </div>
    </div>
</main>